@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  background: none transparent !important;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: none transparent !important;
  font-family: 'Comfortaa', cursive !important;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.ant-modal-content {
  border-radius: 24px !important;
}

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); opacity: 1; }
  50% { -webkit-transform: scale(1); opacity: 0.5; }
  100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1); opacity: 0.5; }
  100% { transform: scale(1); opacity: 1; }
}

.pulse {
  -webkit-animation: pulse 1.5s infinite ease-in-out;
  -o-animation: pulse 1.5s infinite ease-in-out;
  -ms-animation: pulse 1.5s infinite ease-in-out; 
  -moz-animation: pulse 1.5s infinite ease-in-out; 
  animation: pulse 1.5s infinite ease-in-out;
}
